<!-- header -->
<!-- header -->
<div class="header">
    <div class="nombre-pagina">Fixturito</div>
    <nav class="navegacion">
      <ul class="nav-links">
        <li><a href="/home">Home</a></li>
        <li><a href="/competencia">Torneos</a></li>
        <li><a href="/alta-competencia">Crear</a></li>
        <li><a href="#">Sobre nosotros</a></li>
      </ul>
    </nav>
    <div class="perfil">
      <img src="https://www.psg.fr/media/236199/messi-argentine-2.jpg?center=0.098684210526315791,0.42731277533039647&mode=crop&width=2000&height=1125&quality=80" alt="Foto de perfil">
    </div>
  </div>
  
  <div class="body">
    <div class="contenido">
      <div class="imagenFondo"></div>
      <div class="titulo">crear nuevo torneo</div>
      <div class="formulario">
        <form (ngSubmit)="crearCom()">
          <div class="form-group">
            <label for="nombre" class="form-label">Nombre de la competencia</label>
            <input type="text" [(ngModel)]="nombre" name="nombre" required class="form-control">
          </div>
          <div class="form-group">
            <label for="estado" class="form-label">Estado</label>
            <select [(ngModel)]="estado" name="estado" required class="form-control">
              <option value="1">Activo</option>
              <option value="0">Inactivo</option>
            </select>
          </div>
          <div class="form-group">
            <label for="fechainicio" class="form-label">Fecha de inicio</label>
            <input type="datetime-local" [(ngModel)]="fechainicio" name="fechainicio" required class="form-control">
          </div>
          <!-- Opcional: agregar campo para la fecha de creación -->
          <!-- <div class="form-group">
            <label for="fechacreacion" class="form-label">Fecha de creación</label>
            <input type="datetime-local" [(ngModel)]="fechaCreacion" name="fechacreacion" required class="form-control">
          </div> -->
          <button class="btn" type="submit">Guardar competencia</button>
        </form>


      </div>
  </div>
</div>
  
