<!-- header -->
<div class="header">
    <div class="perfil">
      <img src="https://www.psg.fr/media/236199/messi-argentine-2.jpg?center=0.098684210526315791,0.42731277533039647&mode=crop&width=2000&height=1125&quality=80" alt="Foto de perfil">
    </div>
    <nav class="navegacion">
      <ul class="nav-links">
        <li><a href="/home">Home</a></li>
        <li><a href="/competencia">Torneos</a></li>
        <li><a href="/alta-compeencia">Crear</a></li>
        <li><a href="#">Sobre nosotros</a></li>
      </ul>
    </nav>
    <div class="nombre-pagina">Fixturito</div>
  </div>

  <div class="body">
    <div class="">

    </div>
  </div>
  
