*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 20px;
  }
  
  body{
    background-color: #fff59d;
  }
  
  /* header */
  .header {
      background-color: #1b3039;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 85px;
      padding: 5px 10%;
    }
  
  .perfil {
      width: 70px; 
      height: 70px;
      border-radius: 50%; 
      overflow: hidden;
      cursor: pointer; 
  }
  
  .perfil img {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
  
  }
  
  .perfil img:hover {
    transform: scale(1.2);
    transition: all 0.3s;
  }
  
  .nav-links{
    list-style: none;
  }
  
  .nav-links li{
    display: inline-block;
    padding: 0 20px;
  }
  
  .nav-links li:hover{
    transform: scale(1.1);
  }
  
  
  .nav-links a{
    font-size: 700;
    color: #eceff1 ;
    text-decoration: none;
  }
  
  .nav-links li a:hover{
    color:#ffbc0e ;
  }
  
  .nombre-pagina{
    font-size: 700;
    color: #ffbc0e ;
    text-transform: uppercase;
  }

  /* body */

  .container {
    text-align: center; 
    }

  .imagenFondo{
    position: absolute; 
    /* top: 0;
    left: 0; */
    width: 100%; 
    height: 100%;
    background-image: url('src\img\fondo8.jpg'); 
    background-size: cover; 
    background-position: center; 
    filter: blur(5px); 
    z-index: -1;
    background-attachment: fixed;
  }

  .box {
    display: inline-block;
    padding: 10px; 
    border-radius: 8px; 
    text-align: center;
    margin-top: 100px;
}

.box h1 {
  color: #ffbc0e; 
  text-align: center;
  font-size: 55px;
  margin-bottom: 55px;
  margin-top: 0px;
}

.mosaic-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  
}

.mosaic-item {
    background-color: #1b3039;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
    color: white;
    border:2px solid #ffbc0e;
    box-shadow: 7px 13px 37px #000;
}

.mosaic-item h2{
  color:#ffbc0e;
}

.mosaic-item img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

h3 {
    margin-top: 10px;
    font-size: 18px;
    color: #ffbc0e;

}

/* Estilos para el botón */
.plus-button {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100px; 
    height: 100px; 
    font-size: 40px;
    padding: 0;
    border: 2px solid #ffbc0e;
    border-radius: 50%; 
    background-color: #1b3039;
    color: #ffbc0e;
    cursor: pointer;
    outline: none;
    position: relative; 
    margin-left: 80px;
}

/* Estilos para el icono dentro del botón */
.plus-button i {
    position: absolute; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    line-height: 1; 
    margin: 0;
}

/* Estilos para el icono */
.box i {
    font-size: 100px; 
    color: #007bff; 
}

/* Estilos para el efecto al pasar el ratón sobre el botón */
.plus-button:hover {
    opacity: 0.8; 
}

