<!-- <p>competencia works!</p>
<button (click)="desloguear()" class="btn">Log in</button>
<button (click)="fixturee()" class="btn">fix</button>
<button (click)="iduser()" class="btn">user</button> -->
<!-- header -->
<div class="header">
    <div class="perfil">
      <img src="https://www.psg.fr/media/236199/messi-argentine-2.jpg?center=0.098684210526315791,0.42731277533039647&mode=crop&width=2000&height=1125&quality=80" alt="Foto de perfil">
    </div>
    <nav class="navigation">
      <ul class="nav-links">
        <li><a href="#">Home</a></li>
        <li><a href="#">Torneos</a></li>
        <li><a href="#">Crear</a></li>
        <li><a href="#">Sobre nosotros</a></li>
      </ul>
    </nav>
    <div class="nombre-pagina">Fixturito</div>
  </div>