<!-- header -->
<div class="header">
    <div class="nombre-pagina">Fixturito</div>
    <nav class="navegacion">
      <ul class="nav-links">
        <li><a href="/home">Home</a></li>
        <li><a href="/competencia">Torneos</a></li>
        <li><a href="/alta-competencia">Crear</a></li>
        <li><a href="#">Sobre nosotros</a></li>
      </ul>
    </nav>
    <!-- <div class="perfil">
      <img src="https://www.psg.fr/media/236199/messi-argentine-2.jpg?center=0.098684210526315791,0.42731277533039647&mode=crop&width=2000&height=1125&quality=80" alt="Foto de perfil">
      
    </div> -->
    <button class="btn-logout"(click)="desloguear()">Salir</button>
  </div>
  
  
  <!-- contenedor/body -->
  <div class="contenido">
    <div class="imagenFondo"></div>
    <!-- titulo -->
    <h1>FIXTURITO</h1>
    
    <!-- texo descripción -->
    <p>Fixturito es una página web dedicada a la creación y visualización de torneos de fútbol. Aquí podrás ver 
      los torneos que se están realizando, así como sus fixtures correspondientes, resultados de los partidos y
      las puntuaciones de los disintos equipos. También por supuesto, podrás crear y gestionar tus propios torneos.
    </p>

    <!-- botones y su contenedor -->
    <div class="contenedor">
      <div class="botones">
        <a href="/alta-competencia" class="btn btn-1" >Crear nuevo torneo</a>
        <a href="/competencia" class="btn btn-2" >Ver todos los torneos</a>
      </div>
    </div>
  </div>
  
