<div class="header">
    <div class="perfil">
      <img src="https://www.psg.fr/media/236199/messi-argentine-2.jpg?center=0.098684210526315791,0.42731277533039647&mode=crop&width=2000&height=1125&quality=80" alt="Foto de perfil">
    </div>
    <nav class="navigation">
      <ul class="nav-links">
        <li><a href="#">Home</a></li>
        <li><a href="#">Torneos</a></li>
        <li><a href="#">Crear</a></li>
        <li><a href="#">Sobre nosotros</a></li>
      </ul>
    </nav>
    <div class="nombre-pagina">Fixturito</div>
  </div>
  
  <div class="contenido">
    <h1>FIXTURITO</h1>
    
    <p>Fixturito es una página web dedicada a la creación y visualización de torneos de fútol. Aquí podrás ver 
      los torneos que se están realizando, así como sus fixtures correspondientes, resultados de los partidos y
      las puntuaciones de los disintos equipos. También por supuesto, podrás crear y gestionar tus propios torneos.
    </p>

    <div class="contenedor">
      <div class="botones">
        <a href="#" class="btn btn-1">Crear nuevo torneo</a>
        <a href="#" class="btn btn-2">Ver todos los torneos</a>
      </div>
    </div>
  </div>
  
    <!-- <button routerLink="/crear" class="bt-crear">Crear Nuevo Torneo</button>
      <button routerLink="/torneos" class="bt-ver">Ver Todos los Torneos</button> -->
