*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

body{
  background-color: #fff59d;
}

/* header */
.header {
    background-color: #1b3039;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
  }

.perfil {
    width: 70px; 
    height: 70px;
    border-radius: 50%; 
    overflow: hidden;
    cursor: pointer; 
}

.perfil img {
  width: 100%; 
  height: 100%; 
  object-fit: cover;

}

.perfil img:hover {
  transform: scale(1.2);
  transition: all 0.3s;
}

.nav-links{
  list-style: none;
}

.nav-links li{
  display: inline-block;
  padding: 0 20px;
}

.nav-links li:hover{
  transform: scale(1.1);
}


.nav-links a{
  font-size: 700;
  color: #eceff1 ;
  text-decoration: none;
}

.nav-links li a:hover{
  color:#ffbc0e ;
}

.nombre-pagina{
  font-size: 700;
  color: #ffbc0e ;
  text-transform: uppercase;
}

/* contenido/body */
.contenido {
    text-align: center;
    margin-top: 0px;
    padding: 150px;
    /* background-image: url('src\img\fondo8.jpg');
    background-size: cover; 
    background-position: center; 
    background; */
  }

.imagenFondo{
  position: absolute; /* Establece una posición absoluta para la imagen de fondo */
  top: 0;
  left: 0;
  width: 100%; /* Ocupa todo el ancho del contenedor */
  height: 100%; /* Ocupa todo el alto del contenedor */
  background-image: url('src\img\fondo8.jpg'); /* Ruta de la imagen de fondo */
  background-size: cover; /* Ajusta la imagen de fondo para cubrir todo el elemento */
  background-position: center; /* Centra la imagen de fondo */
  filter: blur(5px); /* Aplica un desenfoque a la imagen */
  z-index: -1;
  background-attachment: fixed;
}


.contenido h1{
  text-align: center;
  font-size: 100px;
}

.contenido p{
  text-align: justify;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 70px;
  margin-bottom: 70px;
}

/* botones */
.contenedor{
  min-height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.botones{
  display: flex;
  flex-direction: row;
}

.btn{
  text-decoration: none;
  padding: 20px 50px;
  font-size: 1.5rem;
  position: relative;
  margin: 32px;
}

/* boton 1 "crear torneo" */

.btn-1{
  background:#1b3039;
  color:#ffbc0e;
  border-radius: 50px;
  transition: transform 0.3s ease;
}

.btn-1::after, .btn-1::before{
  content: "";
  position: absolute;
  opacity: 0.3;
  background:#1b3039;
  border-radius: inherit;
  width:100%;
  height: 100%;
  left:0;
  bottom: 0;
  z-index: -1;
  transition: transform 0.3s ease;
}

.btn-1:hover{
  transform: translate(-12px, -12px);
}

.btn-1:hover::after{
  transform: translate(6px, 6px);
}

.btn-1:hover::before{
  transform: translate(12px, 12px);
}

/* boton 2 "ver torneos" */
.btn-2{
  background:#1b3039;
  color:#ffbc0e;
  border-radius: 50px;
  transition: transform 0.3s ease;
}

.btn-2::after, .btn-2::before{
  content: "";
  position: absolute;
  opacity: 0.3;
  background:#1b3039;
  border-radius: inherit;
  width:100%;
  height: 100%;
  left:0;
  bottom: 0;
  z-index: -1;
  transition: transform 0.3s ease;
}

.btn-2:hover{
  transform: translate(-12px, -12px);
}

.btn-2:hover::after{
  transform: translate(6px, 6px);
}

.btn-2:hover::before{
  transform: translate(12px, 12px);
}
