<div class="header">
    <div class="user-profile">
      <img src="ruta-a-la-imagen-de-perfil" alt="Foto de perfil">
      <span>{{ nombreUsuario }}</span>
    </div>
    <div class="page-name">Nombre de la Página</div>
    <nav class="navigation">
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/torneos">Torneos</a></li>
        <li><a routerLink="/crear">Crear</a></li>
        <li><a routerLink="/sobre-nosotros">Sobre Nosotros</a></li>
      </ul>
    </nav>
  </div>
  
  <div class="content">
    <h1>Nombre de la Página</h1>
    <p>Descripción de la página y para qué sirve.</p>
    <div class="buttons">
      <button routerLink="/alta-competencia" class="create-button">Crear Nuevo Torneo</button>
      <button routerLink="/competencia" class="view-button">Ver Todos los Torneos</button>
    </div>
  </div>
  
